@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

.calculator-container {
  width: 20rem;
  margin: 2rem auto;
}

.cal-screen {
  background-color: rgb(146, 144, 141);
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.2rem;
  font-size: 1.2rem;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.calculator-digits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.calculator-digits input {
  height: 2.8rem;
  font-size: 0.85rem;
  border: 0.5px solid rgb(195, 192, 192);
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.calculator-digits input:hover {
  border: 0.5px solid rgb(46, 45, 45);
}

.calculator-digits input:focus {
  border: 0.5px solid rgb(46, 45, 45);
}

.zero {
  grid-column: span 2;
}

.peach-color {
  background-color: rgb(248, 146, 57);
}

.divide {
  border-top: none;
}
